h1 {
    font-family: 'Fredoka One', cursive;
    color: #3e3935;
    font-size: 48px;
    padding: 1em 0 0 0;
    text-align: center;
    font-variant: small-caps;
}


/*Envelope Icon*/

h2 {
    font-size: 44px;
    color: #3e3935;
}

h5 {
    font-size: 30px;
    color: #3e3935;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

p {
    font-family: 'Quicksand', sans-serif;
    color: #3e3935;
    font-size: 24px;
}

header {
    background-color: #A2999E;
}


/*Body*/

.full-content {
    background-color: #C6C7C4;
}


/*2 Column Section*/

.half-width {
    background-color: #EEF0F2;
    overflow: auto;
    width: 50%;
}

footer {
    background-color: #846A6A;
}

footer p {
    font-size: 18px;
}